<div>
    <center>
    <h1>Contact Us</h1>
    <h2>Office Address</h2>
    <p>LTIMindtree Mahape, Navi Mumbai</p>
    <div>
    <a href="~/home/Index">
        <img src="/images/lamborghini.jpg" alt="car" width="700px" height="350px" 
        style="border-radius:50px">
    </a>
    </center>
    </div>
</div>
@{
    var dt=DateTime.Now.ToString();
    <span>Current Date Time: @dt</span>
}