@model IEnumerable<GRT.Models.EventSpace>


<table class="table table-stripped">
    <tr>
        <th>Event Space</th>
        <th>@Html.DisplayNameFor(m=>m.Capacity)</th>
        <th>Booked Dates</th>
        <th>Action</th>
    </tr>

    @foreach(var i in Model)
    {
        <tr>
            <td>@i.EventName</td>
            <td>@i.Capacity</td>
            <td>22/02/2022</td>
            <td><input type="submit" value="Book" class="btn btn-info" asp-route-id="@i.SpaceId" asp-action="BookingConfirmation"></td>
        </tr>
    }
</table>