@model KathakBooking.Models.Class

<form method="POST" asp-action="Create" controller="Class">
    <label asp-for="StartTime"></label>
    <input asp-for="StartTime" asp-action="Create">

    <label asp-for="EndTime"></label>
    <input asp-for="EndTime" asp-action="Create">

    <label asp-for="Capacity"></label>
    <input asp-for="Capacity" asp-action="Create">

    <input type="submit" asp-action="Create" value="Create">
</form>