@model BlogApp.Models.Post

<form method="POST" asp-controller="Post" asp-action="Create">
    <label>Title</label>
    <br>
    <input asp-for="Title">
    <span asp-validation-for="Title"></span>
    <br>
    <label>Content</label>
    <br>
    <input asp-for="Content">
    <span asp-validation-for="Content"></span>
    <br>
    <label>Author</label>
    <br>
    <input asp-for="Author">
    <br>
    <label>PublishDate</label>
    <br>
    <input asp-for="PublishDate">
    <br>
    <input type="Submit" value="ADD POST" class="btn btn-info">
    @ViewBag.Message
    <br>
</form>